@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
*{
    cursor: url(../images/pngegg.png), pointer;
}
body{
    font-family: 'Patua One', cursive;
    background-color:#A7DAEB;
    /* background-image: url(https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&h=650&w=940); */
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
p {
    font-size: 24px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #100D75;
}
a:hover{
    color: rgb(99, 144, 30);
}
img{
    border-radius: 50%;
}
.headers{
    color: #470D76;
}